/* Header */
header {
  background-image: url(https://www.gstatic.com/bfe/apps/website/img/h/71194643-coffee-1440.jpg);
  background-size: cover;
}
.jumbotron {
  height: 500px;
  color: aliceblue;
}
.jumbotron .desc-jumbotron {
  padding-top: 200px;
  margin-bottom: -200px;
  padding-left: 50px;
}
/* Navbar */
.navbar h3 {
  padding: 0 20px;
  font-size: 25px;
  color: aliceblue;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px 0 5px;
  background: rgba(0, 0, 0, 0.3);
}
.navbar a {
  color: aliceblue;
}
.navbar li {
  font-size: 20px;
  display: inline;
  padding: 0 20px 0 20px;
}

/* Content */
.content {
  display: flex;
  flex-direction: column;
}
/* Judul "WHAT WE OFFER" */
.block-offer h1 {
  text-align: center;
  display: block;
  padding: 20px 60px;
}
/* Container list photo di bagian offering */
.offer {
  display: flex;
  justify-content: center;
  margin-left: 100px;
}
.photo {
  max-width: 70%;
}

/* Branch */
.block-branch {
  text-align: center;
  display: block;
  padding: 20px 60px;
  margin-top: 300px;
  background: pink;
}
/* Container list photo di bagian OUR SHOP */
.branch {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* List Shop */
.branch-photos {
  margin: 20px 20px;
}

/* Footer */
.block-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list-footer li {
  font-size: 20px;
  padding: 20px;
}
.list-footer ul {
  padding: 5px;
}

.map img {
  width: 80%;
}
